header {
  display: flex;
  height: 44px;
  margin-left: 110px;
  z-index: 100;
  position: relative;
}

.navItems {
  a {
    font-family: LeagueSpartan, sans-serif;
    color: rgba(11, 12, 17, 0.9);
    font-size: 9px;
    line-height: 1;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: .52em;
    transition: .5s;
    &:hover {
      color: #5da8ef;
    }
    &:active {
      color: #37648f;
    }
  }
}

.logo {
  a {
    display: block;
  }
}

nav {
  display: flex;
  height: 100%;
  align-items: center;
  padding-left: 190px;
  ul {
    display: flex;
    li {
      padding-left: 46px
    }
    li:first-of-type {
      padding-left: 0;
    }
  }
}