.shop {
  margin-top: 200px;
  position: relative;
  z-index: 200;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .showAll {
    position: relative;
    margin-top: 90px;
  }
  .readMoreWrap {
    position: absolute;
    left: 676px;
    margin: 0;
    width: 85px;
  }

}

.textBlock {
  p {
    text-align: center;
    &:first-of-type {
      font-family: LeagueSpartan, sans-serif;
      color: #5da8ef;
      font-size: 9px;
      text-transform: uppercase;
      letter-spacing: .52em;
      margin-bottom: 10px;
    }
    &:last-of-type {
      font-family: PlayfairDisplay-Bold, serif;
      color: #333333;
      font-size: 42px;
      margin-bottom: 50px;
    }
  }
}
