@import '_fonts';
@import '_header';
@import '_verticalLine';
@import '_quote';
@import '_mediaContent';
@import '_article1';
@import '_article2';
@import '_subscribe';
@import '_contacts';
@import '_footer';
@import '_video';
@import '_headerSlider';


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.container{
  width: 1440px;
  margin: 0 auto;
  padding-top: 38px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.75);
  position: relative;
}
